@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #282828;
  --font-sans:
    "Hiragino Sans", var(--font-noto-jp), var(--font-noto-kr), sans-serif;
}

/* 기본 */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

/* 영문 폰트 */
@utility font-outfit {
  font-family:
    var(--font-outfit), var(--font-noto-kr), var(--font-noto-jp), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
